<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="form-group" >
        <div class="row my-3">
            <label for="colFormLabel" class="col-sm-1 col-form-label">Nome</label>
            <div class="col-sm">
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('nome')" id="nome" formControlName="nome" placeholder="Nome">
                <app-campo-control-erro [mostrarErro]="verificaValidTouched('nome')" msgErro="Nome é obrigatório."></app-campo-control-erro>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row my-3">
            <label for="colFormLabel" class="col-sm-1 col-form-label">Email</label>
            <div class="col-sm">
                <input type="email" class="form-control" [ngClass]="aplicaCssErro('email')" id="email" formControlName="email" placeholder="Nome@email.com">
                <app-campo-control-erro [mostrarErro]="verificaValidTouched('email')" msgErro="E-mail é obrigatório."></app-campo-control-erro>
                <app-campo-control-erro [mostrarErro]="verficaEmailInvalido()" msgErro="E-mail é invalido."></app-campo-control-erro>
            </div>
        </div>
    </div>
    <div formGroupName="endereco">
        <div class="form-group">
            <div class="row my-3">
                <div class="col-sm-3">
                    <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.cep')" id="cep" formControlName="cep" placeholder="CEP">
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.cep')" msgErro="CEP é obrigatório."></app-campo-control-erro>
                </div>
                <div class="col-sm-3" >
                    <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.numero')" id="numero" formControlName="numero" placeholder="Número">
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.numero')" msgErro="Número é obrigatório."></app-campo-control-erro>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="complemento" formControlName="complemento" placeholder="Complemento">
                </div>
            </div> 
            <div class="row my-3">
                <div class="col-sm">
                    <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.rua')" id="rua" formControlName="rua" placeholder="Rua">
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.rua')" msgErro="Rua é obrigatório"></app-campo-control-erro>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-sm-5">
                    <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.bairro')" id="bairro" formControlName="bairro" placeholder="Bairro">       
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.bairro')" msgErro="Bairro é obrigatório"></app-campo-control-erro>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.cidade')" id="cidade" formControlName="cidade" placeholder="Cidade">
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.cidade')" msgErro="Cidade é obrigatório"></app-campo-control-erro>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.estado')" id="estado" formControlName="estado" placeholder="Estado">
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.estado')" msgErro="Estado é obrigatório"></app-campo-control-erro>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-2" >Submit</button>
    <button class="btn mt-2" (click)="resetar()" >Cancel</button>

    <app-form-debug [form]="formulario"></app-form-debug>
</form>
