<form [formGroup]="formulario">
    <div class="form-group" >
        <div class="row my-3">
            <label for="colFormLabel" class="col-sm-1 col-form-label">Nome</label>
            <div class="col-sm">
                <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Nome" required >
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row my-3">
            <label for="colFormLabel" class="col-sm-1 col-form-label">Email</label>
            <div class="col-sm">
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="Nome@email.com" required>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-2" >Submit</button>

    <app-form-debug [form]="formulario"></app-form-debug>
</form>
